;; Analyzed by ClojureScript 0.0-3208
{:defs {-main {:protocol-inline nil, :meta {:arglists (quote ([])), :end-column 12, :end-line 8, :column 7, :line 8, :file "/Users/jtackett/Desktop/Real-estate-investment-app/devsrc/simpleexample/dev.cljs"}, :name simpleexample.dev/-main, :variadic false, :file "devsrc/simpleexample/dev.cljs", :end-column 12, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 8, :end-line 8, :max-fixed-arity 0, :fn-var true, :arglists (quote ([])), :test true}}, :imports nil, :requires {fw figwheel.client, figwheel.client figwheel.client, simpleexample.ticTacToe simpleexample.ticTacToe, example simpleexample.ticTacToe}, :uses nil, :require-macros nil, :use-macros nil, :excludes #{}, :doc nil, :name simpleexample.dev}