;; Analyzed by ClojureScript 0.0-3208
{:cljs.analyzer/constants {:order [:timer :time-color :procedure-code :procedure-info :code :procedure-db :name :description], :seen #{:description :procedure-db :timer :name :code :time-color :procedure-code :procedure-info}}, :imports nil, :requires {re-frame.core re-frame.core, reagent.core reagent.core, reagent reagent.core}, :uses {atom reagent.core, subscribe re-frame.core, register-sub re-frame.core, path re-frame.core, dispatch-sync re-frame.core, dispatch re-frame.core, register-handler re-frame.core}, :require-macros nil, :use-macros nil, :excludes #{}, :doc nil, :name simpleexample.subs}