;; Analyzed by ClojureScript 0.0-3208
{:defs {zip-csv {:protocol-inline nil, :meta {:arglists (quote ([csv])), :doc "Given a csv file, uses zipmap\n  to zip the headers to each value", :end-column 14, :end-line 3, :column 7, :line 3, :file "/Users/jtackett/Desktop/Real-estate-investment-app/src/simpleexample/utils.cljs"}, :name stock-analysis.utils/zip-csv, :variadic false, :file "src/simpleexample/utils.cljs", :end-column 14, :method-params ([csv]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([csv])), :doc "Given a csv file, uses zipmap\n  to zip the headers to each value", :test true}}, :imports nil, :requires nil, :uses nil, :require-macros nil, :use-macros nil, :excludes #{}, :doc nil, :name stock-analysis.utils}